ENV="development"

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:8787

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FRONTEND_URL=http://localhost:3000
REVALIDATION_SECRET=

SENTRY_DSN=

# GitHub App (for webhook handling)
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY=
GITHUB_APP_WEBHOOK_SECRET=

# For running drizzle studio for prod
CLOUDFLARE_ACCOUNT_ID=
DATABASE=
CLOUDFLARE_D1_API_TOKEN=

# Agent API keys - For Local testing
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
